html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  height: 6vh;
  width: 100vw;
  box-shadow: 0 8px 6px -6px gray;
  background-color: #cdf0ea;
  position: fixed;
  margin: 0;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.presentation {
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.about {
  height: 80vh;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff9b6;
}

.specialties {
  height: 80vh;
  background-color: #e4bad4;
  margin: 0;
  padding: 0;
}

.combos {
  height: 80vh;
  background-color: magenta;
  margin: 0;
  padding: 0;
}

.footer {
  height: 12vh;
  background-color: orange;
  margin: 0;
  padding: 0;
}
